server:
  port: 8090
  application:
    name: auth-server

logging:
  level:
    org.springframework.security: trace

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761}/eureka/
  instance:
    prefer-ip-address: true

auth-server:
  client:
    id: ${AUTH_SERVER_CLIENT_ID:client-id}
    secret: ${AUTH_SERVER_CLIENT_SECRET:client-secret}
  jwks-uri: ${AUTH_SERVER_JWKS_URI:http://localhost:8090/oauth2/jwks}
